In [5]:
import pandas as pd

df = pd.read_csv('Olympic_Athlete_Event_Results.csv',encoding='ISO-8859-1', on_bad_lines='skip')

print("First few rows of the dataset:")
display(df.head())

print("Dataset Information:")
df.info()

print("Missing Values Count:")
missing_values = df.isnull().sum()
display(missing_values[missing_values > 0])

print("Statistical Summary for Numerical Colums:")
display(df.describe())

# Displaying basic statistical summary for categorical columns (like 'Event', 'Medal', etc.)
print("\nUnique Values in Each Column:")
for column in df.select_dtypes(include='object').columns:
    print(f"{column}: {df[column].nunique()} unique values")
    
# Check for unique categories in key columns (like 'Medal', 'Sport', etc.)
print("\nUnique Categories in Key Columns:")
print("Medal:", df['Medal'].unique())
print("Sport:", df['Sport'].unique())
print("Country:", df['Country'].unique())

/tmp/ipykernel_94035/1347575322.py:3: DtypeWarning: Columns (1,2,3,4,6,7,8,9,10,11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Olympic_Athlete_Event_Results.csv',encoding='ISO-8859-1', on_bad_lines='skip')

First few rows of the dataset:

,Games,edition_id,NOC,Sport,Event,result_id,Name,athlete_id,pos,Medal,isTeamSport,Height,Weight,Born,Country
0,1972 Summer Olympics,18,BEN,Athletics,"400 metres, Men",61050.0,Ibrahima Idrissou,65351,6 h7 r1/4,NaN,FALSE,NaN,NaN,01-01-40,Benin
1,1972 Summer Olympics,18,BEN,Athletics,"Triple Jump, Men",61226.0,Christoph Chodaton,923484,DNS,NaN,FALSE,NaN,NaN,NaN,Benin
2,1972 Summer Olympics,18,BEN,Boxing,"Light-Flyweight, Men",24001.0,Meriga Salou Seriki,1692,17,NaN,FALSE,157,48,08-04-53,Benin
3,1972 Summer Olympics,18,BEN,Boxing,"Bantamweight, Men",24081.0,Leopold Agbazo,1691,33,NaN,FALSE,159,54,25-01-45,Benin
4,1972 Summer Olympics,18,BIZ,Shooting,"Free Pistol, 50 metres, Open",51723.0,Owen Phillips,41408,59,NaN,FALSE,175,76,09-07-06,Belize

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331128 entries, 0 to 331127
Data columns (total 15 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Games        330742 non-null  object
 1   edition_id   239209 non-null  object
 2   NOC          238860 non-null  object
 3   Sport        237890 non-null  object
 4   Event        239186 non-null  object
 5   result_id    239018 non-null  float64
 6   Name         239041 non-null  object
 7   athlete_id   211084 non-null  object
 8   pos          204037 non-null  object
 9   Medal        35683 non-null   object
 10  isTeamSport  208551 non-null  object
 11  Height       185906 non-null  object
 12  Weight       186605 non-null  object
 13  Born         208709 non-null  object
 14  Country      199944 non-null  object
dtypes: float64(1), object(14)
memory usage: 37.9+ MB
Missing Values Count:

Games             386
edition_id      91919
NOC             92268
Sport           93238
Event           91942
result_id       92110
Name            92087
athlete_id     120044
pos            127091
Medal          295445
isTeamSport    122577
Height         145222
Weight         144523
Born           122419
Country        131184
dtype: int64

Statistical Summary for Numerical Colums:

          result_id
count  2.390180e+05
mean   1.945133e+06
std    5.408037e+06
min    4.000000e+01
25%    3.405700e+04
50%    1.543550e+05
75%    3.080960e+05
max    9.001677e+07

Unique Values in Each Column:
Games: 413 unique values
edition_id: 798 unique values
NOC: 424 unique values
Sport: 75 unique values
Event: 532 unique values
Name: 103831 unique values
athlete_id: 101036 unique values
pos: 1434 unique values
Medal: 5 unique values
isTeamSport: 72 unique values
Height: 287 unique values
Weight: 3699 unique values
Born: 22854 unique values
Country: 204 unique values

Unique Categories in Key Columns:
Medal: [nan 'FALSE' 'TRUE' 'Silver' 'Bronze' 'Gold']
Sport: ['Athletics' 'Boxing' 'Shooting' 'Weightlifting' 'Cycling Road'
 'Cycling Track' 'Wrestling' 'Swimming' 'Equestrian Jumping' 'Rowing'
 'Sailing' 'Canoe Sprint' 'Judo' 'Archery' 'Artistic Gymnastics'
 'Volleyball' nan 'Diving' 'Football' 'Waterskiing' 'Canoe Slalom'
 'Equestrian Dressage' 'Equestrian Eventing' 'Fencing' 'Handball'
 'Basketball' 'Bronze' 'Water Polo' 'Hockey' 'Modern Pentathlon' 'FALSE'
 'TRUE' 'Badminton' 'Speed Skating' 'Alpine Skiing' 'Cross Country Skiing'
 'Biathlon' 'Figure Skating' 'Luge' 'Nordic Combined' 'Ski Jumping'
 'Ice Hockey' 'Bobsleigh' 'Gold' 'Silver' 'Artistic Swimming' 'Baseball'
 'Tennis' 'Rhythmic Gymnastics' 'Taekwondo' 'Table Tennis' 'Bowling'
 'Freestyle Skiing' 'Short Track Speed Skating' 'Curling' 'Roller Hockey'
 'Basque pelota' 'Speed Skiing' 'Cycling Mountain Bike' 'Softball'
 'Beach Volleyball' 'Snowboarding' 'Trampolining' 'Triathlon' 'Wushu'
 'Cycling BMX Racing' 'Marathon Swimming' 'Skeleton' 'Golf' 'Rugby Sevens'
 'Karate' 'Cycling BMX Freestyle' 'Surfing' 'Skateboarding'
 'Sport Climbing' '3x3 Basketball']
Country: ['Benin' 'Belize' 'Albania' 'Barbados' 'Afghanistan' 'Burkina Faso'
 'Cambodia' 'Algeria' 'Boliva' nan 'Bermuda' 'Chad' 'Cameroon'
 'Republic of Congo' 'Ivory Coast' 'Costa Rica' 'Dominican Republic'
 'North Korea' 'El Salvador' 'Ecuador' 'Colombia' 'Swaziland' 'Taiwan'
 'Chile' 'Gabon' 'Ethiopia' 'Germany' 'Fiji' 'Cuba' 'Ghana' 'Egypt'
 'Argentina' 'Bulgaria' 'Belgium' 'Guyana' 'Guatemala' 'Brazil' 'Haiti'
 'Czech Republic' 'Indonesia' 'Austria' 'China' 'Denmark' 'Saudi Arabia'
 'Kuwait' 'Israel' 'Iran' 'Iceland' 'Jamaica' 'Lesotho' 'Kenya' 'Liberia'
 'Ireland' 'Australia' 'Malawi' 'India' 'Madagascar' 'Greece' 'Mali'
 'Malta' 'Malaysia' 'Liechtenstein' 'Myanmar' 'Finland' 'Curacao'
 'Luxembourg' 'Niger' 'Nicaragua' 'Nepal' 'Monaco' 'Morocco' 'Canada'
 'Mongolia' 'Paraguay' 'Panama' 'Nigeria' 'Pakistan' 'Hungary' 'Peru'
 'Philippines' 'Mexico' 'Puerto Rico' 'Somalia' 'San Marino' 'Senegal'
 'Vietnam' 'Portugal' 'New Zealand' 'Suriname' 'Sudan' 'Japan' 'Sri Lanka'
 'Syria' 'Togo' 'Bahamas' 'France' 'Thailand' 'Trinidad' 'UK' 'Uganda'
 'Tunisia' 'Tanzania' 'Netherlands' 'Norway' 'South Korea' 'Romania'
 'Virgin Islands, US' 'Italy' 'Zambia' 'Poland' 'Uruguay' 'Russia'
 'Turkey' 'Venezuela' 'Spain' 'Serbia' 'Switzerland' 'Sweden' 'USA'
 'Antigua' 'Andorra' 'Cayman Islands' 'Honduras' 'Papua New Guinea'
 'Angola' 'Botswana' 'Cyprus' 'Guinea' 'Iraq' 'Jordan' 'Laos' 'Libya'
 'Mozambique' 'Seychelles' 'Sierra Leone' 'Zimbabwe' 'Bangladesh' 'Bhutan'
 'Bahrain' 'Virgin Islands, British' 'Central African Republic' 'Djibouti'
 'Democratic Republic of the Congo' 'Equatorial Guinea' 'Grenada'
 'Mauritania' 'Mauritius' 'Yemen' 'Oman' 'Qatar' 'Rwanda' 'Samoa'
 'Solomon Islands' 'Gambia' 'Tonga' 'United Arab Emirates' 'Aruba'
 'American Samoa' 'Cook Islands' 'Guam' 'Maldives' 'Saint Vincent'
 'Vanuatu' 'Bosnia and Herzegovina' 'Croatia' 'Estonia'
 'Individual Olympic Athletes' 'Latvia' 'Lithuania' 'Namibia' 'Slovenia'
 'South Africa' 'Armenia' 'Belarus' 'Georgia' 'Kyrgyzstan' 'Kazakhstan'
 'Moldova' 'Slovakia' 'Uzbekistan' 'Ukraine' 'Brunei' 'Azerbaijan'
 'Burundi' 'Cape Verde' 'Comoros' 'Dominica' 'Guinea-Bissau' 'Nauru'
 'Macedonia' 'Palestine' 'Saint Kitts' 'Saint Lucia'
 'Sao Tome and Principe' 'Tajikistan' 'Turkmenistan' 'Eritrea'
 'Micronesia' 'Palau' 'Kiribati' 'Timor-Leste' 'Marshall Islands'
 'Montenegro' 'Kosovo' 'South Sudan']

In [51]:
# Function to identify and drop rows with non-numeric values in specified columns
def drop_non_numeric_rows(df, columns):
    # Convert columns to numeric, forcing errors to NaN
    for column in columns:
        df[column] = pd.to_numeric(df[column], errors='coerce')
    
    # Drop rows with NaN in specified columns
    df_cleaned = df.dropna(subset=columns)
    return df_cleaned

# Columns to check
columns_to_check = ['edition_id', 'athlete_id', 'Height', 'Weight']

# Clean the DataFrame
df_cleaned = drop_non_numeric_rows(df, columns_to_check)

# Output the shape of the cleaned DataFrame to see how many rows were dropped
print(f'Original DataFrame shape: {df.shape}')
print(f'Cleaned DataFrame shape: {df_cleaned.shape}')

Original DataFrame shape: (331128, 15)
Cleaned DataFrame shape: (177648, 15)

In [52]:
# Missing Data Handling.
missing_data_percentage = (df.isnull().sum() / len(df)) * 100
print("Missing Data Percentage in each Column:\n", missing_data_percentage)

Missing Data Percentage in each Column:
 Games           0.116571
edition_id     27.782912
NOC            27.864753
Sport          28.157691
Event          27.766302
result_id      27.817038
Name           27.810092
athlete_id     37.252362
pos            38.381230
Medal          89.223805
isTeamSport    37.018011
Height         43.886654
Weight         46.349146
Born           36.970295
Country        39.617308
dtype: float64

In [53]:
# Step 1: Remove entries where 'Medal' is 'TRUE' or 'FALSE'
df_cleaned = df[~df['Medal'].isin(['TRUE', 'FALSE'])]

# Step 2: Replace NaN values in 'Medal' with 'No Medal'
df_cleaned['Medal'] = df_cleaned['Medal'].fillna('No Medal')

# Optional: Verify the cleaning
print("Unique values in Medal column after cleaning:", df_cleaned['Medal'].unique())
print("Remaining entries:", df_cleaned.shape[0])

# Save the cleaned DataFrame
df_cleaned.to_csv('Cleaned_Olympic_Athlete_Event_Results.csv', index=False)

/tmp/ipykernel_94035/1081953283.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Medal'] = df_cleaned['Medal'].fillna('No Medal')

Unique values in Medal column after cleaning: ['No Medal' 'Silver' 'Bronze' 'Gold']
Remaining entries: 323671

In [54]:
# Trim the DataFrame to keep only rows up to index 144104
df_trimmed = df_cleaned.iloc[:144105]  # Includes rows from 0 to 144104

# Optional: Verify the trimmed DataFrame
print("Number of rows after trimming:", df_trimmed.shape[0])

# Save the trimmed DataFrame
df_trimmed.to_csv('Trimmed_Olympic_Athlete_Event_Results.csv', index=False)

Number of rows after trimming: 144105

In [55]:
# Missing Data Handling.
missing_percentage = (df_trimmed.isnull().sum() / len(df_trimmed)) * 100
print("Missing Data Percentage in each Column:\n", missing_percentage)

Missing Data Percentage in each Column:
 Games           0.174872
edition_id      1.888207
NOC             1.997849
Sport           2.503036
Event           1.852122
result_id       1.928455
Name            1.921516
athlete_id      5.438396
pos             4.706291
Medal           0.000000
isTeamSport     5.434926
Height         13.025919
Weight         13.840602
Born            5.802019
Country         5.741647
dtype: float64

In [56]:
# Check for unique categories in key columns (like 'Medal', 'Sport', etc.)
print("\nUnique Categories in Key Columns:")
print("Medal:", df_trimmed['Medal'].unique())
print("Sport:", df_trimmed['Sport'].unique())

print("Dataset Information:")
df_trimmed.info()

Unique Categories in Key Columns:
Medal: ['No Medal' 'Silver' 'Bronze' 'Gold']
Sport: ['Athletics' 'Boxing' 'Shooting' 'Weightlifting' 'Cycling Road'
 'Cycling Track' 'Wrestling' 'Swimming' 'Equestrian Jumping' 'Rowing'
 'Sailing' 'Canoe Sprint' 'Judo' 'Archery' 'Artistic Gymnastics'
 'Volleyball' nan 'Diving' 'Football' 'Waterskiing' 'Canoe Slalom'
 'Equestrian Dressage' 'Equestrian Eventing' 'Fencing' 'Handball'
 'Basketball' 'Bronze' 'Water Polo' 'Hockey' 'Modern Pentathlon' 'FALSE'
 'TRUE' 'Badminton' 'Speed Skating' 'Alpine Skiing' 'Cross Country Skiing'
 'Biathlon' 'Figure Skating' 'Luge' 'Nordic Combined' 'Ski Jumping'
 'Ice Hockey' 'Bobsleigh' 'Gold' 'Silver' 'Artistic Swimming' 'Baseball'
 'Tennis' 'Rhythmic Gymnastics' 'Taekwondo' 'Table Tennis' 'Bowling'
 'Freestyle Skiing' 'Short Track Speed Skating' 'Curling' 'Roller Hockey'
 'Basque pelota' 'Speed Skiing' 'Cycling Mountain Bike' 'Softball'
 'Beach Volleyball' 'Snowboarding' 'Trampolining' 'Triathlon' 'Wushu'
 'Cycling BMX Racing' 'Marathon Swimming']
Dataset Information:
<class 'pandas.core.frame.DataFrame'>
Index: 144105 entries, 0 to 149216
Data columns (total 15 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Games        143853 non-null  object
 1   edition_id   141384 non-null  float64
 2   NOC          141226 non-null  object
 3   Sport        140498 non-null  object
 4   Event        141436 non-null  object
 5   result_id    141326 non-null  float64
 6   Name         141336 non-null  object
 7   athlete_id   136268 non-null  float64
 8   pos          137323 non-null  object
 9   Medal        144105 non-null  object
 10  isTeamSport  136273 non-null  object
 11  Height       125334 non-null  float64
 12  Weight       124160 non-null  float64
 13  Born         135744 non-null  object
 14  Country      135831 non-null  object
dtypes: float64(5), object(10)
memory usage: 17.6+ MB

In [57]:
# Handled maximum missing values.
# For the remaining missing values.
# Strategy 1: For numeric columns, fill missing values with the median
numeric_columns = df_trimmed.select_dtypes(include=['float64', 'int64']).columns
df_trimmed.loc[:, numeric_columns] = df_trimmed[numeric_columns].fillna(df_trimmed[numeric_columns].median())

# Strategy 2: For categorical columns, fill missing values with 'Unknown'
categorical_columns = df_trimmed.select_dtypes(include=['object']).columns
df_trimmed.loc[:, categorical_columns] = df_trimmed[categorical_columns].fillna("Unknown")

# Check again to confirm missing data has been handled
print("\nRemaining Missing Values (if any):\n", df_trimmed.isnull().sum())

# .loc[] for Explicit Assignment: 
# By using .loc[:, columns], we explicitly specify that weâ€™re setting values for those columns,
# in the original df_trimmed DataFrame, avoiding the SettingWithCopyWarning.

Remaining Missing Values (if any):
 Games          0
edition_id     0
NOC            0
Sport          0
Event          0
result_id      0
Name           0
athlete_id     0
pos            0
Medal          0
isTeamSport    0
Height         0
Weight         0
Born           0
Country        0
dtype: int64

In [21]:
# Data Cleaning Successful.

In [58]:
# Normalisation and Encoding.

# Import the required library
from sklearn.preprocessing import StandardScaler

# Initialize the scaler
scaler = StandardScaler()

# Fit and transform the 'Height' and 'Weight' columns, creating new columns for scaled values
df_trimmed['Height_scaled'] = scaler.fit_transform(df_trimmed[['Height']])
df_trimmed['Weight_scaled'] = scaler.fit_transform(df_trimmed[['Weight']])

# Display to confirm new columns are created
df_trimmed[['Height', 'Height_scaled', 'Weight', 'Weight_scaled']].head()

/tmp/ipykernel_94035/4042351603.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trimmed['Height_scaled'] = scaler.fit_transform(df_trimmed[['Height']])
/tmp/ipykernel_94035/4042351603.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trimmed['Weight_scaled'] = scaler.fit_transform(df_trimmed[['Weight']])

   Height  Height_scaled  Weight  Weight_scaled
0   175.0      -0.047724    70.0      -0.042421
1   175.0      -0.047724    70.0      -0.042421
2   157.0      -1.855856    48.0      -1.679438
3   159.0      -1.654953    54.0      -1.232979
4   175.0      -0.047724    76.0       0.404038

In [60]:
print("Medal" in df_trimmed.columns)

print(df_trimmed['Medal'].unique())

True
['No Medal' 'Silver' 'Bronze' 'Gold']

In [61]:
# One-hot encode the Medal column without a prefix and without dropping any columns
medal_dummies = pd.get_dummies(df_trimmed['Medal'], drop_first=False)

# Now, concatenate these dummies with the original dataframe and drop the original Medal column
df_trimmed = pd.concat([df_trimmed.drop(columns=['Medal'], errors='ignore'), medal_dummies], axis=1)

In [62]:
print(df_trimmed.columns)

Index(['Games', 'edition_id', 'NOC', 'Sport', 'Event', 'result_id', 'Name',
       'athlete_id', 'pos', 'isTeamSport', 'Height', 'Weight', 'Born',
       'Country', 'Height_scaled', 'Weight_scaled', 'Bronze', 'Gold',
       'No Medal', 'Silver'],
      dtype='object')

In [63]:
df_trimmed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 144105 entries, 0 to 149216
Data columns (total 20 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Games          144105 non-null  object
 1   edition_id     144105 non-null  float64
 2   NOC            144105 non-null  object
 3   Sport          144105 non-null  object
 4   Event          144105 non-null  object
 5   result_id      144105 non-null  float64
 6   Name           144105 non-null  object
 7   athlete_id     144105 non-null  float64
 8   pos            144105 non-null  object
 9   isTeamSport    144105 non-null  object
 10  Height         144105 non-null  float64
 11  Weight         144105 non-null  float64
 12  Born           144105 non-null  object
 13  Country        144105 non-null  object
 14  Height_scaled  144105 non-null  float64
 15  Weight_scaled  144105 non-null  float64
 16  Bronze         144105 non-null  bool
 17  Gold           144105 non-null  bool
 18  No Medal       144105 non-null  bool
 19  Silver         144105 non-null  bool
dtypes: bool(4), float64(7), object(9)
memory usage: 19.2+ MB